<%- include("partials/header") -%> 
<div>
    <div>
    <h1><%= title %> </h1>
    </div>
    <div class="postBody">
    <p><%= content %> </p>
    </div>
    <form action="/delete" method="POST">
        <button class="btn btn-outline-primary btn-sm px-3 mx-3" type="submit" name="editPost" value="edit">Edit Post</button>

        <button class="btn btn-outline-danger btn-sm px-3 mx-3" type="submit" name="deletePost" value=<%= postId %>  >Delete Post</button>
    </form>
    
</div>
<%- include("partials/footer") -%> 